.blog-header {
  background: url(../assets/blog-header.jpg);
  background-size: cover;
}

.blog-container {
  display: flex;
}

.blog-container aside {
  width: 40%;
}

.blog-aside-container {
  background-color:$dark-blue;
  padding: 5%;
  width: 90%;
}

.blog-aside-container img {
  position: relative;
  left: -30%;
  bottom: 50px;
  width: 125%;
  height: auto;
}

.blog-container main {
  width: 60%;
}

.blog-aside-container h3 {
  color:$yellow;
  font-size: 1.25rem;
  font-family: 'IM Fell English', serif;
  line-height: 2.9rem;
  letter-spacing: 0.8px;
  margin: 0;
}

.blog-aside-container p,
.blog-aside-container ul {
  color:$white;
  line-height: 1.4rem;
  margin: 0;
  list-style: none;
  padding: 0;
}

.blog-aside-container div:nth-of-type(1) {
  margin-bottom: 30px;
}

.blog-aside-container ul li:before
  { content:"• "; font-size:10pt; 
  padding-right: 10px;
  
}

.blog-main img {
  width: 100%;
  position: relative;
  bottom: 100px;
  box-shadow: -20px 20px$yellow;
}

.blog-main {
  border-left: 2px solid $yellow;
  border-bottom: 2px solid $yellow;
  padding-left: 18px;
}

article .wrapper h2 {
  margin-top: 0;
  color: $dark-blue;
}

article .wrapper {
  padding-top: -20px;
  padding-bottom: 75px;
}

article .wrapper p {
  font-size: 1rem;
}

.blog-comment {
  display: flex;
  margin-bottom: 70px;
}

.blog-comment img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 0 30px 0 80px;
}

.blog-section h2 {
  margin-left: 100px;
  margin-top: 70px;
  color: $dark-blue;
}

.blog-comment p{
  margin: 0;
  line-height: 1.4rem;
}

.blog-comment p span{
  color: $dark-blue;
  line-height: 2rem;
  font-weight: 700;
}

.blog-container .blog-contact {
  position: static;
  background-color:$light-blue;
  padding-left: 50px;
}

.blog-container .blog-contact input{
  background-color: $light-blue;
}

.blog-container .blog-contact input::placeholder { 
  color: $black;
  opacity: 1; 
}

.blog-container .blog-contact button {
  color:$yellow;
  background-color:$dark-blue;
  border: none;
}

@media (max-width: 900px) {

  .blog-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -32.5%;
    padding-top: 50px;
  }

  .blog-comment img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0 20px 0 0 ;
  }

  .blog-section h2 {
    font-size: $small;
    margin-left: 0;
    margin-top: 0;
    color: $dark-blue;
  }

  .blog-section p {
    font-size: $x-small;
  }

  .blog-container .blog-contact {
    position: static;
    padding-left: 0;
  }
}

@media (max-width: 600px) {

  .blog-header h1 {
    padding-top: 20px;
  }

  .blog-container {
    flex-direction: column;
  }

  .blog-container aside{
    width: 100%;
  }

  .blog-aside-container img {
    display: none;
    position: static;
    left: auto;
    bottom: 50px;
    width: 100%;
    height: auto;
    }

  .blog-aside-container {
    text-align: center;
    background-color:$dark-blue;
    padding: 20px;
    width: 100%;
  }

  .blog-main {
    width: 100%;
  }

  .blog-main img {
    width: 100%;
    position: static;
    bottom: 0px;
    box-shadow: none;
  }

  .blog-container main {
    width: 90%;
  }

  .blog-main {
    border: 2px solid $yellow;
    padding: 18px;
    text-align: center;
  }

  .blog-main h2 {
    padding-top: 20px;
    font-size: $small;
  }

  article .wrapper {
    padding-bottom: 20px;
  }

  .blog-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: auto;
    padding-top: 50px;
  }

  .blog-section img {
    width: 75px;
    height: 75px;
  }

  .blog-comment {
    display: flex;
    margin-bottom: 20px;
  }

}