
.contact-header {
  background: url(../assets/contact-header.jpg);
  background-size: cover;
}

.flex-container {
  display: flex;
  
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

aside {
  padding: 5%;
  font-size: 1rem;
}

aside i {
  color: #0D457F;
  margin: 0 1rem 1rem 0;
}

aside p {
  margin: 0.3rem 0;
  font-weight: 100;
}

.contact-main {
  position: relative;
}

form {
  position: absolute;
  font-size: 1rem;
  background-color: #0D457F;
  width: 60vw;
  height: 49vh;
  top: -140px;
  left: 100px;
  z-index: 2;
}

.shadow {
  position: absolute;
  background-color: #FDD908;
  width: 59vw;
  height: 48vh;
  top: -115px;
  left: 122px;
  z-index: 1;
}

form input {
  background-color: #0D457F;
  border: none;
  color: #FFFFFF;
}

::placeholder { 
  color: #FFFFFF;
  opacity: 1; 
}

.name-email {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.name-email input {
  width: 40%;
  padding: 20px 20px 20px 20px;
  margin-right: 25px;
  border-bottom: 2px solid #FDD908;
}

.message {
  width: calc(80% + 80px);
  border: 2px solid #FDD908;
  height: 50%;
  padding: 20px;
}

button {
  font-family: 'IM Fell English', serif;
  width: calc(80% + 80px);
  background: #FDD908;
  font-size: 1.12rem;
  line-height: 2.08rem;
  color: #0D457F;
}

