body {
  font-family: 'Roboto', sans-serif;
  background-color: $light-blue;
  font-size: 125%;
  font-weight: 300;
}

header h1 {
  font-family: 'IM Fell English', serif;
  font-size: $x-large;
  text-shadow: 2px 2px $black;
}

h2 {
  font-family: 'IM Fell English', serif;
  font-size: $large;
}

@media (max-width:900px) {
    header h1 {
        font-size: $large;
}
    h2 {
        font-size: $medium;
    }
}

@media (max-width:600px) {
    header h1 {
        text-align: center;
}
    h2 {
        font-size: $medium;
    }
}

