footer {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  text-align: center;
  background-color: #FDD908;
  color: #0D457F;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}