footer {
  font-family: 'Roboto', sans-serif;
  font-size: $x-small;
  text-align: center;
  background-color: $yellow;
  color: $dark-blue;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 100px;
}

footer p {
  margin: 0;
}

@media (max-width:600px) {
  footer {
    margin-top: 50px;
  }
}
