header {
  width: 100%;
  height: 600px;
  color: $white;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

nav i {
  position: absolute;
  left: 5%;
  font-size: 2rem;
  visibility: hidden;
}


.nav-container {
  display: flex;
  list-style: none;
  font-size: $x-small;
  font-weight: bold;
  margin: 0;
  padding: 50px 0;

  i {
    position: absolute;
    left: 5%;
    font-size: 2rem;
    display: none;
  }

  li {
    margin: 5px;
  }

  a {
    padding: 10px 0 5px 0;
    margin: 10px;
    text-decoration: none; 
    color: $white; 
  }

  a:hover {
    border-bottom: 2px solid $yellow;
  }
}

@media (max-width:900px) {
//tablet size

  header {
    width: 100%;
    height: 300px;
    color: $white;
  }
}

@media (max-width:600px) {
//mobile size

  header {
    width: 100%;
    height: 200px;
    color: $white;
  }

  .nav-container {
    padding: 10px 0;
    justify-content: center;
    align-items: center;
  }
}