//index header styles
.index-header {
  background: url(../assets/home-header.jpg);
  background-size: cover;

  h1 {
    padding-top: 220px;
    color: $yellow;
  }

  img {
    position: absolute;
    width: 50%;
    right: 0;
    bottom: 0.1vw;
  }
}

//index section styles
.index-section {
  position: relative;
}

//first section styles
.first-wrapper {
  display: flex;
  padding-top: 200px;

  h2 {
    margin: 0;
    color: $dark-blue;
  }

  div {
    padding-bottom: 30px;
  }
}

.icon-content-container {
  display: flex;
}

.content-container{
  display: flex;
  flex-direction: column;
}

.icon-container {
  margin-right: 10px;

  i {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $yellow;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    color: $dark-blue;
    font-size: $small;
    text-align: center;
  }
}

//second section styles
.second-wrapper {
  display: flex;
  width: 100%;
  background-color: $dark-blue;
  padding: 5% 0;

  h2, p {
    color: $white;
  }

  p {
    text-align: initial;
  }

  button {
    margin-top: 15px;
    width: 140px;
  }

  img {
    width: 80%;
  }
}

.second-wrapper > div {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.new-location-container {
  text-align: right;

  .wrapper {
    padding-right: 15%;
  }

  img {
    position: relative;
    box-shadow: 20px 20px $yellow;
    left: 0;
    top: -15%;
  }
}

.our-program-container .wrapper {
  padding-left: 15%;
}

.our-program-container img {
  position: relative;
  box-shadow: -20px 20px $yellow;
  right: 0;
  top: 15%;
  align-self: flex-end;
}

//third section styles
.third-section {
  text-align: center;

  h2 {
    color: $dark-blue;
  }

  > div {
    padding: 100px 100px;
  }

  button {
    width: 200px;
  }

  img {
    width: 100%;
  }
}

//fourth section styles
.fourth-section {
  .wrapper{
    display: flex;
    align-items: center;
  }

  h2 {
    color: $dark-blue;
  }

  .wrapper img {
    width: 25%;
    height: 25%;
    box-shadow: -20px 20px $yellow;
    object-fit: cover;
  }

  .wrapper div {
    padding: 100px;
  }

  button {
    width: 200px;
  }
}

//gallery section styles
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark-blue;
  padding: 50px 0;

  i {
    color: white;
    padding: 10px;
    border-radius: 50%;
    transition: 0.6s ease;
  }

  i:hover {
    cursor: pointer;
    color: gray;
  }

  .wrapper {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  .wrapper img {
    padding: 10px;
    width: calc(100% / 3 - 20px);
  }

  .active {
    display: block;
  }

  .hidden {
    display: none;
  }
}

@media (max-width: 900px) {
//tablet size

  .index-header img{
    display: none;
  }

  .index-header h1 {
    padding-top: 0;
  } 

  .first-wrapper {
    flex-direction: column;
    padding-top: 50px;

    > div {
      padding-bottom: 0;
    }
  }

  .new-location-container .wrapper,
  .our-program-container .wrapper {
    padding-right: 10px;
  }

  .new-location-container {
    text-align: initial;
  }

  .second-wrapper img {
    width: 90%;
  }

  .fourth-section .wrapper div {
    padding: 20px;
  }
}

@media (max-width: 600px){
//mobile size

  .first-wrapper {
    justify-content: center;
    align-items: center;
  }

  .icon-content-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content-container {
    text-align: center;
  }

  .second-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .wrapper {
      text-align: center;
      margin-bottom: 50px;
    }

    h2 {
      padding: 20px;
    }

    h2, p {
      text-align: center;
    }

    > div {
      width: 90%;
    }
  }

  .our-program-container {
    display: flex;
    flex-direction: column-reverse;

    .wrapper {
      padding-left: 0;
    }
  }
  
  .our-program-container > div {
    order: 2;
  }

  .our-program-container img {
    order: 1;
    margin: 20px 0;
  }

  .third-section > div {
    padding: 30px;
    margin-bottom: 20px;
  }

  .fourth-section .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .gallery .wrapper {
    padding: 20px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      padding: 10px;
      width: 75%;
    }
  }

  .gallery i {
    display: none;
  }
}
