//color
$dark-blue: #0D457F;
$light-blue: #EAFEFC;
$yellow: #FDD908;
$white: #ffffff;
$black: #000000;

//font-size
$x-large: 3.95rem;
$large: 2.25rem;
$medium: 2rem;
$small: 1.25rem;
$x-small: 1rem;
$button: 1.12rem;
